node_modules
defaulttoken.txt
botconfig.json
bugreportlog.json
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk